@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Roboto', sans-serif;
}

/* Программа курса */
.section {
    width: 100%;
}
.container {
    max-width: calc(1440px - 169px);
    margin: 0 auto;
    box-sizing: border-box;
}

.program h2 {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
    line-height: 101%;
    margin-left: 37px;
    margin-bottom: 132px;
}
.cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 121px;
}

.cards-item {
    width: 399px;
    height: 328px;
    background: #FFFFFF;
    box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
}

.cards-item:last-child {
    box-shadow: none;
 }

.cards-item img {
    width: 100%;
}
.cards-item:nth-child(-n+3) {
    margin-bottom: 41px;
}
.cards-item:nth-child(n+4):nth-child(-n+6) {
    margin-bottom: 45px;
}


.cards-item: {
    margin-right: 37px;
}

.cards-text {
    font-family: Roboto;
    padding-left: 19px;
    padding-top: 9px;
}
.cards-text h4 {
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 32px;
    line-height: 130%;
}
.cards-text-last h4 {
    line-height: 113%;
    margin-bottom: 4px;
}

.cards-text p {
    font-size: 25px;
    margin-bottom: 21px;
    line-height: 130%;
}


/* Курс прошло человек */

.student {
    background: #EFEFEF;
/* width: 1440px;*/
}
.student .container {
    padding-bottom: 107px;
}
.student h2 {
    font-family: Roboto Slab;
    font-weight: bold;
    font-size: 55px;
    line-height: 101.38%;
    padding-left: 36px;
    padding-top: 91px;
    margin-bottom: 68px;
}
.comment {
    max-width: 791px;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-left: 43px;
}
.comment-text {
    max-width: 700px;
    height: 203px;
    font-family: Roboto;    
    font-size: 20px;
    line-height: 150%;
    padding: 44px 46px 10px 43px;
}
.comment-ekaterina {
    display: flex;
}

.comment-foto img {
    max-width: 190px;
    margin: 0 27px 29px 26px;
}

.comment-name h4 {
    font-family: Roboto Slab;
    font-size: 30px;
    font-weight: bold;
    line-height: 101.38%;
    padding-top: 40px;
    padding-bottom: 28px;
}

@media (min-width:992px) and (max-width: 1279px) {

.container {
    max-width: calc(834px - 97px);
    margin: 0 auto;
    box-sizing: border-box;
}
.program h2 {
    font-size: 32px;
    margin-left: 37px;
    margin-bottom: 55px;
}
.cards {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 53px;
}

.cards-item {
    width: 231px;
    height: 189px;
    background: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 8.6875px rgba(0, 0, 0, 0.25);
    border-radius: 17.375px;
}
.cards-item:last-child {
    display: none;
}
.cards-item img {
    width: 100%;
}
.cards-item:nth-child(-n+3) {
    margin-bottom: 23.75px;
}
.cards-item:nth-child(n+4):nth-child(-n+6) {
    margin-bottom: 26px;
}
.cards-item:not(:nth-child(3n)) {
    margin-right: 21px;
}

.cards-text {
    padding-left: 12px;
    padding-top: 6px;
}
.cards-text h4 {
    font-size: 17px;
    margin-bottom: 18px;
    line-height: 130%;
}
.cards-text-last h4 {
    line-height: 113%;
    margin-bottom: 1px;
}

.cards-text p {
    font-size: 14px;
    margin-bottom: 13px;
    line-height: 130%;
}
}

@media (max-width: 992px) {

.container {
    max-width: calc(375px - 64px);
    margin: 0 auto;
    box-sizing: border-box;
}
.program h2 {
    font-size: 26px;
    margin-left: 3px;
    margin-bottom: 52px;
    }
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 47px;
    }
    
.cards-item {
    width: 185px;
    height: 153px;
    box-shadow: 0.465972px 0.465972px 6.98958px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
}
.cards-item:last-child {
    display: none;
}
.cards-item img {
    width: 100%;
}
    .cards-item:nth-child(-n+3) {
        margin-bottom: 24px;
    }
    .cards-item:nth-child(n+4):nth-child(-n+7) {
        margin-bottom: 24px;
    }
    
.cards-text {
    padding-left: 9px;
    padding-top: 5px;
}
.cards-text h4 {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 130%;
}
.cards-text-last h4 {
    line-height: 113%;
    margin-bottom: 1px;
}
    
    
.cards-text p {
    font-size: 12px;
    margin-bottom: 11px;
    line-height: 130%;
} 
}
    

@media (min-width:992px) and (max-width: 1279px) {
    
.container {
    max-width: calc(834px - 97px);
    margin: 0 auto;
    box-sizing: border-box;
}
.student {
    background: #EFEFEF;
/* width: 834px;*/
}
.student .container {
    padding-bottom: 64px;
}
.student h2 {
    font-size: 32px;
    line-height: 101.38%;
    padding-left: 22px;
    padding-top: 53px;
    margin-bottom: 40px;
}
.comment {
    max-width: 458px;
    background: #FFFFFF;
    box-shadow: 0.579167px 0.579167px 11.5833px rgba(0, 0, 0, 0.25);
    border-radius: 17px;
    margin-left: 26px;
}
.comment-text {
    max-width: 405px;
    height: 117px; 
    font-size: 12px;
    line-height: 150%;
    padding: 23px 26px 6px 26px;
}
.comment-ekaterina {
    display: flex;
}

.comment-foto img{
    width: 110px;
    margin: 0 17px 17px 15px;
}

.comment-name h4 {
    font-size: 17px;
    line-height: 101.38%;
    padding-top: 21px;
    padding-bottom: 18px;
}
}

@media (max-width: 992px) {

.container {
    max-width: calc(375px - 64px);
    margin: 0 auto;
    box-sizing: border-box;
}
.student {
    background: #EFEFEF;
    /* width: 375px;*/
}
.student .container {
    padding-bottom: 53px;
}
.student h2 {
    font-size: 26px;
    line-height: 101.38%;
    padding-top: 42px;
    margin-bottom: 20px;
    padding-left: 0;
    width: 259px;
}
.comment {
    width: 308px;
    background: #FFFFFF;
    box-shadow: 0.465972px 0.465972px 9.31944px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-left: 0;
}
.comment-text {
    width: 266px;
    height: 111px; 
    font-size: 10px;
    line-height: 150%;
    padding: 18px 21px 34px 21px;
}
.comment-ekaterina {
    display: flex;
}
    
.comment-foto img{
    width: 80px;
    margin: 4 5px 15px 24px;
    }
    
.comment-name h4 {
    font-size: 14px;
    line-height: 101.38%;
    padding-top: 15px;
    padding-bottom: 18px;
}
.social {
    width: 15px;
    height: 17px;
}
}

/* Курс прошло человек */

.wrapper {
    width: 80%;
    margin: 0 auto;
}
header {
    margin-bottom: 100px;
}
.stripe {
    display: flex;
    margin-top: 10px;
    height: 32px;
    font-size: 20px;  
  
}
.item {
    width: 130px;
    height: 32px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    padding-left: 5px;
    
}
.icon {
    margin-left: 10px;
}
h1 {
    width: 628px;
    height: 190px;
    left: 122px;
    top: 248px;
    font-family: Roboto Slab;
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    
}
.eight {
    width: 414px;
    height: 62px;
    left: 122px;
    top: 427px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    
}
.start {
    display: flex;
}
.first-image {
    height: 356px;
    width: 304px;
    margin-left: 140px;
    margin-bottom: 87.62px;
    top: 223px;
    border-radius: 0px;
}
.quote {
    background: #1E4681;
    border-radius: 5px;
    color: white;
    width: 483.63px;
    height: 200px;
    margin-bottom: 173.38px;
    margin-left: 288.39px;
}
.lines {
    font-family: Roboto Slab;
    font-size: 25px;
    font-weight: 400;
    text-align: left;
    padding-top: 19.26px;
    padding-left: 26.03px;
    padding-right: 27.02px;
}
.name {
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    text-align: right;
    padding-right: 18.52px;
}
.about {
    display: flex;
}
h2 {
    font-family: Roboto Slab;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px;
    letter-spacing: 0em;
    text-align: left;

}
.text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 662px;
    height: 374px;
    left: 121px;
    top: 1151px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    margin-bottom: 94px;
}
.second-image {
    margin-left: 190px;
}
.bottom-about {
    display: flex;
}
.head {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    text-align: left;
    margin-left: 132px;
    margin-bottom: 1px;
}
.line {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
    margin-left: 132px;
    height: 39px;
    width: 150px;

}
